version: '3.8'

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  app:
    build: ./app
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/plantation
      - PORT=3000
    ports:
      - "3000:3000"

volumes:
  mongo_data:
